.cleverreach-extension-options-page .cre-input-container,
.cleverreach-extension-options-page .description {
	overflow: auto;
	float: none;
	clear: both;
}

.cleverreach-extension-options-page h2 {
	margin: .75em 0 1em 0;
}

.cleverreach-extension-options-page h4 {
	margin-bottom: 5px;
}

.js .cleverreach-extension-options-page tr {
	display: none;
}

.cleverreach-extension-options-page pre {
	background: #eaeaea;
	background: rgba(0, 0, 0, .07);
	padding: 10px 5px;
	margin: 0 0 15px 0;
	overflow: scroll;
}

.cleverreach-extension-options-page code {
	background: none;
}

.cleverreach-extension-options-page .error {
	color: #d54e21;
}

.cleverreach-extension-options-page .cre-input-container input[type="text"],
.cleverreach-extension-options-page .cre-input-container select {
	float: left;
}

.cleverreach-extension-options-page .cre-input-container input[type="checkbox"] {
	float: left;
	margin: 5px 5px 5px 2px;
}

.cleverreach-extension-options-page .cre-info-message {
	float: left;
	padding: 4px 7px 0 7px;
}

.cleverreach-extension-options-page .cre-info-message.invalid:before {
	content: '\f335';
	color: #d54e21;
}

.cleverreach-extension-options-page .cre-info-message.confirmed:before {
	content: '\f147';
	color: #79ba49;
}

.cleverreach-extension-options-page .cre-info-message.updating:before {
	content: '\f463';
	color: #d54e21;
}

.cleverreach-extension-options-page .cre-info-message.animate:before {
	-webkit-animation: rotation 2s infinite linear;
	animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@media screen and (max-width: 782px) {
	.cleverreach-extension-options-page .cre-input-container input[type="text"],
	.cleverreach-extension-options-page .cre-input-container select {
		width: 90%;
	}
}